<div class="sticky z-50 top-0 bg-white pt-4">
  <a class="w-full block text-center text-5xl font-bold" href="/">Matteo Sandrin</a>
  <div class="mx-auto flex max-w-4xl">
    {% with classes="grow text-center text-lg font-medium tracking-wider pt-8 pb-4 md:pb-4",
            underline="underline underline-offset-4" %}
      <a
        href="/about"
        class="{{ classes }} {% if selected == 'about' %}{{ underline }}{% endif %}">
        about
      </a>
      <a
        href="/work"
        class="{{ classes }} {% if selected == 'work' %}{{ underline }}{% endif %}">
        work
      </a>
      <a
        href="/objects"
        class="{{ classes }} {% if selected == 'objects' %}{{ underline }}{% endif %}">
        objects
      </a>
      <a
        href="/photo"
        class="{{ classes }} {% if selected == 'photo' %}{{ underline }}{% endif %}">
        photo
      </a>
    {% endwith %}
  </div>
</div>
