{
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "jinja-template",
        "htmlWhitespaceSensitivity": "ignore"
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "proseWrap": "always"
      }
    }
  ],
  "bracketSameLine": true
}
