{% macro power_broker_nav(index) %}
  <div class="mt-triple flex justify-between gap-2">
    {% if index | int > 0 %}
      <div class="w-1/4">{{ previous_chapter(index) }}</div>
    {% endif %}
    <div class="">{{ button("/power-broker", "index") }}</div>
    {% if index | int < power_broker.chapters | length - 1 %}
      <div class="w-1/4 text-right">{{ next_chapter(index) }}</div>
    {% endif %}
  </div>
{% endmacro %}

{% macro previous_chapter(index) %}
  {% set previous_index = (index | int) - 1 %}
  {{ chapter_link(previous_index, "← previous") }}
{% endmacro %}

{% macro next_chapter(index) %}
  {% set next_index = (index | int) + 1 %}
  {{ chapter_link(next_index, "next →") }}
{% endmacro %}

{% macro chapter_link(index, label) %}
  {% set url = "/power-broker/" ~ index %}
  {{ button(url, label) }}
{% endmacro %}

{% macro button(url, label) %}
  <a href="{{ url }}" class="font-mono tracking-wider hover:underline">
    {{ label }}
  </a>
{% endmacro %}
