{% extends "_partials/_page.html" %}
{% from "power-broker/_power-broker-nav.html" import power_broker_nav with context %}
{% from "_partials/_macros.html" import title_subtitle %}
{% set book="The Power Broker" %}
{% set author="Robert Caro" %}
{% block title %}
  {% block chapter %}
  {% endblock %}
  | {{ book }}: Chapter Summary
{% endblock %}
{% block description %}
  Summary of 'Chapter {{ self.chapter() }}' of the book '{{ book }}' by
  {{ author }}
{% endblock %}
{% block social_preview_url %}/assets/img/power-broker/social-preview.png{% endblock %}
{% block body %}
  <div class="max-w-2xl">
    {% set subtitle="Summary of \"" + book + "\"" %}
    {{ title_subtitle(self.chapter(), subtitle, title_classes="font-serif") }}
    {{ power_broker_nav(self.index()) }}
    {% block content %}
    {% endblock %}
    {{ power_broker_nav(self.index()) }}
  </div>
{% endblock %}
