{% extends "_partials/_page.html" %}

{% block title %}
  This is a test
{% endblock %}
{% block body %}
    <p>
        This is a test page to ensure that the template rendering works correctly.
        It should display the content without any issues, allowing for further
        development and testing of the template system.
    </p>
    <p>
        The content here is meant to be simple and straightforward, serving as a
        placeholder for more complex content that will be added later. This test
        will help verify that the template engine processes the blocks and extends
        correctly, ensuring a smooth workflow for future pages.
    </p>
    <a href="/test">test link</a>
    <p>Hey!</p>
{% endblock %}