{% extends "templates/objects/objects-item.html" %}
{% block object_url %}/objects/123-sign{% endblock %}
{% block title %}123 SIGN{% endblock %}
{% block subtitle %}A painting inspired by 96th street subway station{% endblock %}
{% block content %}
  <p>
    When I lived in New York in college, I would often take the 1 train downtown
    from 116th street, then change to the 2 or 3 train at 96th street. This
    painting memorializes the station's sign into six square panels of acrylic
    on canvas. I chose to paint this sign because I think of this station as a
    liminal checkpoint of sorts, a threshold between the sleepy upper Manhattan
    and the bustling downtown.
  </p>
{% endblock %}
{% block img_url %}/assets/img/123-sign/123-sign-01.jpg{% endblock %}
