{% extends "work/_work-item.html" %}
{% block title %}Google{% endblock %}
{% block subtitle %}Software Engineer{% endblock %}
{% block content %}
  <p>
    I'm a software engineer on the Google Travel team. I lead development of new
    formats & improvements on the
    <a href="http://google.com/hotels" class="link" target="_blank">
      Google Hotels
    </a>
    ads booking module.
  </p>
  <p>
    I get to work on a product with hundreds of millions of daily users. I run
    experiments every day to improve ad performance by a couple percentage
    points, which translates into large revenue gains. I also get to learn from
    some of the most accomplished software engineers in the industry.
  </p>
  <p>
    Before that, I interned on the Google Flights team. Over the course of a
    summer, I and a scrappy band of interns redesigned and rewrote from scratch
    the frontend of the
    <a href="https://matrix.itasoftware.com" class="link" target="_blank">
      Matrix
    </a>
    flight search engine. This search engine has a loyal following of over
    200,000 flight enthusiasts.
  </p>
  <p>
    Cambridge, MA
    <br />
    2021 – Now (full time)
    <br />
    Summer 2020 (intern)
  </p>
{% endblock %}
{% block img_url %}/assets/img/google-logo.svg{% endblock %}
