{% extends "work/_work-item.html" %}
{% block title %}Smartcar{% endblock %}
{% block subtitle %}Software Engineering Intern{% endblock %}
{% block content %}
  <p>
    Smartcar's core product is an API to remotely control any vehicle. Think
    lock, unlock, climate control, windows, etc. I reverse-engineered the
    Chrysler and Volkswagen Android apps, in order to figure out their APIs and
    integrate them into the core product. I spent many hours in the sunny office
    parking lot, remotely poking and prodding Smartcar's fleet of test cars.
  </p>
  <p>
    Smartcar was a small company at the time, no more than 15 employees. I
    enjoyed the challenge of working at an early-stage startup, doing everything
    from code to design to hosting a hackathon. I learned more in those three
    months about software engineering that I ever had before, and made some
    lifelong friends along the way.
  </p>
  <p>
    Mountain View, CA
    <br />
    Summer 2019
  </p>
{% endblock %}
{% block img_url %}/assets/img/smartcar-logo.svg{% endblock %}
