@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply text-slate-900;
    font-size: 12px;
  }

  @screen md {
    :root {
      font-size: 16px;
    }
  }

  .link {
    @apply text-blue-700 underline decoration-blue-700/40 underline-offset-4 transition-colors hover:decoration-blue-700;
  }

  .list {
    @apply list-inside list-disc space-y-1;
  }

  p,
  ul {
    @apply mt-4 text-lg md:text-base;
  }

  h2 {
    @apply text-5xl font-medium;
  }

  h3.subheading {
    @apply mt-8 text-3xl font-medium;
  }

  .right-arrow,
  .close-button {
    .outer-color {
      fill: transparent;
      stroke: black;
      stroke-width: 2.5px;
      color: black;
      opacity: 0.6;
      stroke-linecap: square;
    }

    .inner-color {
      fill: transparent;
      stroke: #fff;
      stroke-width: 1.5px;
      stroke-linecap: square;
    }
  }
}
