@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply text-slate-900;
    font-size: 12px;
  }

  @screen md {
    :root {
        font-size: 16px;
    }
  }

  @screen 2xl {
    :root {
        font-size: 22px;
    }
  }
}

@font-face {
  font-family: "MoMA Sans Web";
  src: url("/assets/fonts/MoMASansWeb-Regular.woff2") format("woff2"),
    url("/assets/fonts/MoMASansWeb-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MoMA Sans Web";
  src: url("/assets/fonts/MoMASansWeb-BoldItalic.woff2") format("woff2"),
    url("/assets/fonts/MoMASansWeb-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "MoMA Sans Web";
  src: url("/assets/fonts/MoMASansWeb-RegularItalic.woff2") format("woff2"),
    url("/assets/fonts/MoMASansWeb-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "MoMA Sans Web";
  src: url("/assets/fonts/MoMASansWeb-Medium.woff2") format("woff2"),
    url("/assets/fonts/MoMASansWeb-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MoMA Sans Web";
  src: url("/assets/fonts/MoMASansWeb-Bold.woff2") format("woff2"),
    url("/assets/fonts/MoMASansWeb-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
