@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color: #1a1a1a;
    font-size: 16px;
  }

  .link {
    @apply text-blue-700 underline decoration-blue-700/40 underline-offset-4 transition-colors hover:decoration-blue-700;
  }

  .list {
    @apply list-disc space-y-2 pl-6;
  }

  .list-single {
    @apply list space-y-1;
  }

  p,
  ul {
    @apply mt-single text-base;
  }

  h1 {
    @apply mb-triple text-4xl font-bold;
  }

  h2 {
    @apply mt-double text-2xl font-bold;
  }

  .img-container,
  iframe {
    @apply mt-double;
  }

  .img-container + *,
  iframe + * {
    @apply mt-double;
  }

  .right-arrow,
  .close-button {
    .outer-color {
      fill: transparent;
      stroke: black;
      stroke-width: 2.5px;
      color: black;
      opacity: 0.6;
      stroke-linecap: square;
    }

    .inner-color {
      fill: transparent;
      stroke: #fff;
      stroke-width: 1.5px;
      stroke-linecap: square;
    }
  }
}
