@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color: #1a1a1a;
    font-size: 16px;
  }

  .link {
    @apply text-blue-700 underline decoration-blue-700/40 underline-offset-4 transition-colors hover:decoration-blue-700;
  }

  .list {
    @apply list-disc space-y-1 pl-6;
  }

  p,
  ul {
    @apply my-6 text-base;
  }

  h1 {
    @apply mb-8 text-2xl font-semibold;
  }

  h2.subheading {
    @apply my-6 text-xl font-semibold;
  }

  .right-arrow,
  .close-button {
    .outer-color {
      fill: transparent;
      stroke: black;
      stroke-width: 2.5px;
      color: black;
      opacity: 0.6;
      stroke-linecap: square;
    }

    .inner-color {
      fill: transparent;
      stroke: #fff;
      stroke-width: 1.5px;
      stroke-linecap: square;
    }
  }
}
