h1 {
	font-size: 38px;
	font-weight: normal;
	line-height: 50px;
	margin-top: 76px;
	margin-bottom: 10px;
	text-align: center;
}

h2 {
	font-weight: normal;
	line-height: 26px;
	font-size: 23px;
	margin-top: 20px;
}

li {
	font-size: 1em;
	margin-left: 0.125em;
	line-height: 1.5;
}

.icons {
	text-align: center;
	height: 25px;
	margin-bottom: 3em;
}

.icons a img {
	width: 25px;
	margin: 2.5px 5px;
}

.icons a {
	border-bottom: 0px;
}

.icons a:hover {
	text-decoration: none;
}

.essays {
	text-align: center;
	margin: 1em 0 1.5em 0em;
	line-height: 1.5;
}

.content a {
	border-bottom: 2px solid;
}

.content a:hover {
	border-bottom: 0px solid;
	text-decoration: none;
}

.section {
	padding-bottom: 10px;
}

.list-item {
	margin-top: 10px;
}

.project-badge {
	background-color: rgba(0, 0, 0, 0.85);
	color: white;
	white-space: nowrap;
	padding-left: 5px;
	padding-right: 5px;
}

.work-badge {
	color: #767676;
}

.winner-badge {
	background-color: #337ab7;
}

.nav-padding {
	height: 2.5em;
}

@media (max-width: 580px) {
	.badges {
		display: inline-block;
	}
}