{% extends "fragments/objects/objects-item.html" %}
{% block object_url %}/objects/dd-sign{% endblock %}
{% block title %}DUNKIN SIGN{% endblock %}
{% block subtitle %}A piece of original, restored Dunkin neon signage{% endblock %}
{% block content %}
  <p>
    I found this original Dunkin Donuts neon sign in an antique shop in Rhode
    Island, laying non-functional in a corner. It was originally manufactured in
    2009 in Virginia. I cleaned up the inside, dirty after years of outdoors
    service, and I redid the internal wiring from scratch. The sign originally
    came with cool white neon bulbs, but I changed them out for moody warm white
    ones.
  </p>
{% endblock %}
{% block img_url %}/assets/img/dd-sign/dd-sign-thumbnail.jpg{% endblock %}
