{% extends "_partials/_page.html" %}
{% from "_partials/_image-gallery.html" import image_gallery %}
{% set selected="objects" %}
{% block head %}
  <title>{% block page_title %}{% endblock %}</title>
  <meta
    name="description"
    content="This is Matteo Sandrin's personal website. This page showcases the {{ object.title }}" />
{% endblock %}
{% block body %}
  <div class="mx-auto max-w-xl px-8 md:px-16 my-4">
    <h2 class="mt-4 text-5xl font-medium">{{ object.title }}</h2>
    <h3 class="mt-2 text-xl text-slate-500">
        {{ object.subtitle }}
    </h3>
    {% block object_description %}{% endblock %}
  </div>
  {{ image_gallery(object.images) }}
{% endblock %}