{% extends "includes/work/work-item.html" %}
{% block title %}Smartcar{% endblock %}
{% block subtitle %}Software Engineering Intern{% endblock %}
{% block content %}
  <p>
    Smartcar's core product is an API to remotely control any vehicle. Think
    lock, unlock, climate control, windows, etc. I worked on reverse-engineering
    the android apps of car manufacturers, in order to integrate their APIs into
    the core product. I spent many fun hours in the office parking lot, remotely
    controlling Smartcar's fleet of test cars.
  </p>
  <p>
    Mountain View, CA<br />
    Summer 2019
  </p>
{% endblock %}
{% block img_url %}/assets/img/smartcar-logo.svg{% endblock %}
