{% extends "includes/work/work-item.html" %}
{% block title %}Google{% endblock %}
{% block subtitle %}Software Engineer{% endblock %}
{% block content %}
  <p>
    I work as a software engineer on the Hotel Ads team. The features I build
    allow hotel operators to improve their ad campaigns. I get to work on the
    complex plumbing that follows a click on google.com all the way through the
    Ads infrastructure.
  </p>
  <p>
    Before that, I worked as an intern on the Flights team. I and a scrappy band
    of interns rewrote from scratch the frontend of
    <a href="https://matrix.itasoftware.com" class="link" target="_blank">
      matrix.itasoftware.com </a
    >. The Matrix flight search engine has a loyal following of over 200,000
    users.
  </p>
  <p>
    Cambridge, MA<br />
    2021 – Now (full time)<br />
    Summer 2020 (intern)
  </p>
{% endblock %}
{% block img_url %}/assets/img/google-logo.svg{% endblock %}
