{% extends "includes/work/work-item.html" %}
{% block title %}Google{% endblock %}
{% block subtitle %}Software Engineer{% endblock %}
{% block content %}
  <p>
    I'm a software engineer on the Google Ads team, focused on hotels. My work
    revolves around building reporting features that help hotel advertisers
    understand their ad performance.
  </p>
  <p>
    I get to work on possibly the largest data pipeline in the world, processing
    billions of clicks, views and conversions per second. I also get to learn
    from some of the most accomplished software engineers in the industry.
  </p>
  <p>
    One of my key accomplishments is designing and implementing a feature that
    provides advertisers with a clear view of their ad campaigns in different
    hotel destination markets. This feature allows advertisers to easily
    identify which destinations are not performing well, and optimize their
    campaings accordingly.
  </p>
  <p>
    Before that, I interned on the Google Flights team. Over the course of a
    summer, I and a scrappy band of interns redesigned and rewrote from scratch
    the frontend of the
    <a href="https://matrix.itasoftware.com" class="link" target="_blank">
      Matrix
    </a>
    flight search engine. This search engine has a loyal following of over
    200,000 flight enthusiasts.
  </p>
  <p>
    Cambridge, MA<br />
    2021 – Now (full time)<br />
    Summer 2020 (intern)
  </p>
{% endblock %}
{% block img_url %}/assets/img/google-logo.svg{% endblock %}
